body {
  background: linear-gradient(to left top, #FBADAE, #fffde8, #7BC6EB) fixed;
  border-style: dashed;
}

h1,h2,h3,h4,h5,h6 {
  font-family: cursive;
  color: black;
  font-size: 200%;
}

p {
  font-family: cursive;
  color: black;
  font-size: 100%;
}

ol {
  font-family: cursive;
  color: black;
  font-size: 100%;
}
