body {
  background-color:  #f7f2e6;
  background-size: cover;



}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10{
  color: #f7c257;
  font-family: Rockwell;
  font-size: 200%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

#labpadding{
  padding-bottom: 40px
}

.homelink {
    text-align: left;
}

.sourcelink{
    float: right;

}
.col-sm-3 {
border: 1px black dashed;

}


.jumbotron{
  background-color: #fae3af;

}

.jumbotron h1{
  color: #8f6504;
}

p{
  font-family: cursive;
  color:#8f6504;
  font-size: 20;
}

li{
  font-family: cursive;
  color: #FA64C3;
}
