body {
  background-image:  url("https://c.tenor.com/XLnJxScKc3EAAAAC/car-animation.gif");
  background-size: cover;



}

h1, h2, h3, h4, h5, h6, h7, h8, h9{
  color: white;
  font-family: Rockwell;
  font-size: 200%;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

#labpadding{
  padding-bottom: 40px
}

.homelink {
    text-align: left;
}

.sourcelink{
    float: right;

}
.col-sm-3 {
border: 1px black dashed;
}


.jumbotron{
  background-color: #ac3562;
}

.jumbotron h1{
  color: white;
}

p{
  font-family: cursive;
  color: white;
  font-size: 20;
}

li{
  font-family: cursive;
  color: #FA64C3;
}
