body {
  background: linear-gradient(to left top, #FBADAE, yellow, #7BC6EB) fixed;
}

button {
  font-family: cursive;
}

h1 {
  color: #AE8Fd9;
  font-size: 200%;

}

.imgButton{
    text-align:center;
}
