body {
  background: linear-gradient(to left top, #FBADAE, yellow, #7BC6EB) fixed;
}

button {
  font-family: cursive;
}

h1 {
  font-family: cursive;
  color: "#ae8fd9";
  font-size: 200%;
}

.imgButton{
    text-align:center;
}

p.one {
  border-style: dashed;
  border-color: "#ae8fd9";
}
